/*Global Styles*/
:root {
    --uep-blue: #17376E;
    --uep-yellow: #FFD700;
    --background: #f7f7f7;
    --default-shadow: 5 5 20 -10 rgba(0, 0, 0, 0.25);
    --default-radius: 25px;
    --default-border: 1px solid rgba(0, 0, 0, 0.10);
    --default-svg-color: filter: invert(13%) sepia(35%) saturate(3025%) hue-rotate(198deg) brightness(97%) contrast(92%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*Set the root size kay an ak katangahan inhimo ko a bugos na website naka 80% ak browser...smh*/
html {
    font-size: 80%;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    background-color: var(--background);
    height: fit-content;
    width: 100vw;
}

div {
    display: flex;
}

/*Text Styles*/

.subheadings {
    margin-bottom: 1rem;
}

.main-text {
    font-size: 1.15rem;
}

a {
    text-decoration: none;
    color: inherit;
    flex-shrink: 0;
}

#current-page {
    color: var(--uep-blue);
    fill: var(--uep-blue);
}

/*Main Styling*/

#header {
    height: 6rem;
    width: 100%;
    background-color: var(--background);
    padding: 0 5rem 0 5rem;
    position: fixed;
}

#header-left, #header-right{
    width: 100%;
    height: 100%;
    align-items: center;
}

#header-left {
    flex-direction: row;
    gap: 1rem;
    color: var(--uep-blue);
}

#iUEP-logo-img {
    height: 4rem;
    width: auto;
    object-fit: contain;
}

#header-left div {
    flex-direction: column;
}

#header-right {
    justify-content: flex-end;
}

#user-preview {
    gap: 1rem;
    align-items: center;
}

#user-preview div {
    flex-direction: column;
}

#user-profile-image {
    height: 4rem;
    width: auto;
}

.main {
    /*background-color: orange;*/
    padding-top: 6rem;
    height: 100%;
    width: 100%;
}

#left-nav {
    /*background-color: red;*/
    height: 100%;
    width: 25rem;
    padding: 5rem;
    position: fixed;
}

#nav-button-container {
    width: 100%;
    background-color: #f7f7f7;
    flex-direction: column;
}

#nav-button-container div {
    /*background-color: green;*/
    width: 100%;
    height: fit-content;
    align-items: center;
    gap: 1rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 10px;
}

#nav-button-container div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: .25s ease-in-out;
}

.nav-icons {
    width: 3rem;
    height: auto;
    fill: rgba(0, 0, 0, 0.25);
}

.content {
    width: 100%;
    /*background-color: blue;*/
    margin: 5rem;
    margin-left: 30rem;
    flex-direction: column;
}

.content-box {
    background-color: white;
    border: var(--default-border);
    border-radius: var(--default-radius);
}

.section-div {
    flex-direction: column;
}

.div-top-margin {
    margin-top: 2rem;
}

/*Home Styling*/

#headline-box {
    width: 100%;
}

.article-img {
    object-fit: cover;
}

.content-img-box {
    width: 30rem;
}

.article-text-box {
    width: fit-content;
    flex-direction: column;
    padding: 2rem;
}

.article-text-box-small {
    height: 100%;
    padding: 1rem;
    flex-direction: column;
}

.article-text-box h2, .article-text-box-small h3 {
    margin-bottom: 1rem;
}

.article-text-box p, .article-text-box-small p {
    text-align: justify;
}

#sub-text-large-margin {
    margin-top: 2rem;
}

#sub-text-small-margin {
    margin-top: 1rem;
}

.sub-text {
    color: rgba(0, 0, 0, 0.5);
}

.section-div-top-margin {
    margin-top: 3rem;
}

.dept-updates-card {
    width: 22rem;
    height: 30rem;
    flex-shrink: 0;
    flex-direction: column;
}

.dept-updates-card img {
    height: 100%;
    object-fit: cover;
}

#department-updates-container {
    gap: 1rem;
    overflow-x: scroll;
}

/*Grades Styling*/

#grade-styling-div-top {
    width: 100%;
}

#grade-styling-div-top div {
    width: 100%;
}

#grade-styling-div-right {
    justify-content: flex-end;
}

table {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    background-color: white;
}

table, td, th {
    border: var(--default-border);
    border-collapse: collapse;
}

td, th {
    padding: 1.5rem;
}

.code-column {
    width: 12rem;
    text-align: center;
}

.grade-column {
    width: 8rem;
    text-align: center;
}

/*About Styling*/

#about-content {
    padding-left: 8rem;
    padding-right: 8rem;
}

#about-heading {
    text-align: center;
    color: var(--uep-blue);
    margin-bottom: 3rem;
}

.about-text {
    text-align: justify;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

#about-subheading {
    margin-top: 3rem;
    color: var(--uep-blue);
    text-align: center;
    margin-bottom: 1rem;
}

.about-subtext  {
    text-align: center;
}

/*Discussion Styling*/

#discussion-content {
    margin-right: 30rem;
    gap: 3rem;
}

#discussion-right-menu {
    position: fixed;
    right: 0;
    height: calc(100% - 6rem);
    width: 25rem;
    /*background-color: sienna;*/
    padding: 1.5rem;
    flex-direction: column;
}  

#discussion-right-menu-top, #discussion-right-menu-bottom {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#discussion-right-menu-top {
    /*background-color: cornflowerblue;*/
}

#discussion-right-menu-top h3 {
    margin-bottom: 1rem;
}

#discussion-right-menu-top div {
    gap: 1rem;
}

#discussion-right-menu-bottom {
    height: 70rem;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    border: var(--default-border);
}

#discussion-post-button {
    color: white;
    background-color: var(--uep-blue);
    padding: .5rem 1.5rem .5rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}

#discussion-post-button:hover {
    background-color: color-mix(in srgb, #1737da 75%, white);
    transition: .25s ease-in-out;
}

#discussion-post-section {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    overflow: visible;
}

#discussion-post-title {
    padding: .75rem 1rem .75rem 1rem;
    border-radius: 25px;
    border: var(--default-border);
    font-weight: 600;
    background-color: var(--background);
    margin-bottom: 1rem;
}

#discussion-post-content {
    padding: .75rem 1rem .75rem 1rem;
    border-radius: 10px;
    border: var(--default-border);
    background-color: var(--background);
    height: 100%;
    width: 100%;
    resize: none;
    font-family: inherit;
    font-size: inherit;
}

.content-box-discussions {
    padding: 3rem;
    flex-direction: column;
}

.content-box-discussions h2 {
    margin-bottom: 1rem;
}

.discussions-article {
    flex-direction: column;
    margin-bottom: 1rem;
}

.discussions-post-user-info {
    gap: 1.5rem;
    /*background-color: bisque;*/
    width: 100%;
    margin-bottom: 2rem;
}

.discussions-post-user-info-profile-container {
    background-color: lightgray;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
}

.discussions-post-user-info-profile-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.user-info-and-posted {
    flex-direction: column;
   justify-content: center;
}

.interact-container {
    /*background-color: lightsalmon;*/
    gap: 2rem;
}

.reaction-container {
    background-color: var(--background);
    border-radius: 25px;
}

.divider {
    width: 1.5px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.discussion-reaction-icons {
    width: 1.5rem;
    height: auto;
    fill: rgba(0, 0, 0, 0.5);
    margin: .5rem 1.5rem .5rem 1.5rem;
}

.like-reaction-container:hover, .dislike-reaction-container:hover, #comment-reaction-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: .25s ease-in-out;
}

/*Schedule Styling*/

#schedule-content {
    height: calc(100vh - 6rem);
    margin: 0;
    margin-left: 25rem;
}

iframe {
    height: 100%;
    width: 100%;
}